*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2)), url("../image/restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.main-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-container h1
{
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.main-container a
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #3f2b65;
    background: transparent;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-decoration: none;

}
.main-container a span:nth-child(2)
{
    color: white;
    font-size: 20px;
}
.main-container a span:nth-child(1)
{
   background: #3f2b65;
   height: 100%;
   width: 0;
   border-radius: 20px;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   z-index: -1;
   transition: 0.5s;
}
.main-container a:hover span
{
    width: 100%;
}
